.friend-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

.friend-list .item {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.friend-list .item:not(:last-child) {
  margin-bottom: 20px;
}

.friend-list .avatar {
  margin: 0;
  padding: 10px;
}

.profile {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(242, 192, 116);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.description {
  border-radius: 5px;
  margin-top: 30px;
}

.name {
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
  color: rgb(40, 44, 44);
}

.avatar {
  margin-top: 10px;
  border-radius: 50%;
  background-color: rgb(247, 204, 152);
}

.tag {
  margin-bottom: 10px;
  font-weight: 500;
  color: rgb(54, 53, 53);
}

.location {
  margin-bottom: 10px;
  color: rgb(54, 53, 53);
}

.stats {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.statsItem {
  display: flex;
  flex-direction: column;
}

.statsItem:not(:last-child) {
  margin-right: 30px;
}

.label {
  color: rgb(54, 53, 53);
}

.quantity {
  font-size: 20px;
  font-weight: 600;
}

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h2 {
  margin: 20px;
  margin-bottom: 20px;
}

.stat-list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: 0;
}

.stat-list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-color: teal;
  color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.stat-list .item:not(:last-child) {
  margin-right: 15px;
}

.stat-list .label {
  margin-bottom: 10px;
  color: rgb(249, 241, 136);
}

.percentage {
  font-size: 25px;
}

.transaction-history {
  width: 100%;
  border: none;
  border-radius: 3px;
  margin-bottom: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.transaction-history thead th {
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.transaction-history tbody td {
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.tatransaction-historyble thead tr th:first-child,
.transaction-history tbody tr td:first-child {
  border-left: none;
}

.transaction-history thead tr th:last-child,
.transaction-history tbody tr td:last-child {
  border-right: none;
}

/* .transaction-history tbody tr:nth-child(even) {
    background: #f3f3f3;
} */
/*# sourceMappingURL=main.css.map */